@font-face {
	font-family: "Oswald-Medium";
	font-style: normal;
	font-weight: normal;
	src: local('Oswald-Medium'), url('../fonts/Oswald-Medium.ttf') format('truetype');
}

body {
    margin : 0;
	background-color: #def369;
	font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cmid {
    background-color: white;
	width: 80%;
	min-height: 100vh;
}

main table, main table td, main table th {
    border: 3px solid black;
    border-collapse: collapse;
}

/* BARRE DE NAVIGATION */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(172, 121, 79);
    flex-wrap: nowrap;
}

#clogoheader {
    margin-left: 70px;
}

#navlogo {
    border: none;
}

#cnavbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(172, 121, 79);
    flex-wrap: nowrap;
    margin-right: 60px;
}

header nav a {
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    text-decoration: none;
    font-family: "Oswald-Medium";
    font-size: 18px;
    border-left: 2px solid rgb(97, 65, 36);
    height: 60px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnnav {
    height: 60px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
	margin-right: 10px;
}

.btnnav:hover {
    transition: 0.10s ease-in-out;
    background-color: rgb(97, 65, 36);
	height: 100%;
}

#decobtn:hover {
	cursor: pointer;
}

header nav a:hover {
	color: #bfd73b;
	text-shadow: rgb(97, 65, 36) 1px 1px, rgb(97, 65, 36) -1px 1px, rgb(97, 65, 36) -1px -1px, rgb(97, 65, 36) 1px -1px;
    transition: 0.25s ease-in-out;
    border-left: 2px solid #bfd73b;
}

header nav form input {
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    text-decoration: none;
    background: transparent;
    border: none;
    font-family: "Oswald-Medium";
    font-size: 18px;
    height: 60px;
    width: 220px;
    padding: 0;
}

header nav form input:focus {
    outline: none;
}

header nav form input:hover {
	color: #bfd73b;
	text-shadow: rgb(97, 65, 36) 1px 1px, rgb(97, 65, 36) -1px 1px, rgb(97, 65, 36) -1px -1px, rgb(97, 65, 36) 1px -1px;
    transition: 0.25s ease-in-out;
}

header {
    box-shadow: 0px 0px 10px rgb(32, 32, 32);
}

#indeximg {
    width: 100%;
    height: 400px;
}

/* FOOTER */

#containerfooter {
	width: 100%;
	height: 300px;
	background-color: #BF8F69;
	background-image: url(img/bg4.png);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

#cfooterlogo {
/*	background-color: blue;*/
	width: 20%;
	height: 250px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cfooterpres {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-left: 10px;
	padding-right: 50px;
	color: white;
	border-right: 2px solid #85653B;
	height: 250px;
	min-width: 250px;
	flex-direction: column;
}

#cfootermenu {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 2px solid #85653B;
	height: 250px;
	min-width: 200px;
}

#titremenu {
	color: white;
	font-size: 24px;
}

#footermenu ul li {
	color: white;
	list-style: none;
	font-size: 20px;
}

a {
	text-decoration: none;
}

#footermenu ul li:hover {
	color: lightgrey;
}

#cfooterreseaux {
/*	background-color: cyan;*/
	width: 30%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 200px;
}

#boutonreseaux {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	padding-left: 10px;
}

#tableaufooter table tbody tr td {
	color: white;
}

#footertwitter {
	background-image: url(../img/Twitter.png);
	height: 40px;
	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

#footeryoutube {
	background-image: url(../img/Youtube.png);
	height: 40px;
	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

#footerfacebook {
	background-image: url(../img/Facebook.png);
	height: 40px;
	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

#footertwitter:hover {
	background-image: url(../img/Twitter2.png);
}

#footeryoutube:hover {
	background-image: url(../img/Youtube2.png);
}

#footerfacebook:hover {
	background-image: url(../img/Facebook2.png);
}

#containercopyright {
	background-color: #262626;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#copyright {
	color: white;
	display: flex;
}

/* FORULULAIRE */

.cform {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.formimg {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.formimg img {
	margin-left: 40px;
	margin-right: 40px;
}

.cform input {
	height: 50px;
	width: 300px;
	border-radius: 15px;
	background-color: #BF8F69;
	border: 2px solid #def369;
	margin-top: 8px;
	color: #def369;
	font-size: 18px;
	padding-left: 10px;
}

.cform input:focus {
	background-color: #def369;
	border: 2px solid #BF8F69;
	outline: none;
	color: #BF8F69;
}

.cform textarea {
	height: 200px;
	width: 400px;
	border-radius: 15px;
	background-color: #BF8F69;
	border: 2px solid #def369;
	margin-top: 8px;
	color: #def369;
	font-size: 18px;
	padding-left: 10px;
}

.cform textarea:focus {
	background-color: #def369;
	border: 2px solid #BF8F69;
	outline: none;
	color: #BF8F69;
}

.cform label {
	font-family: "Oswald-Medium";
	margin-top: 20px;
	font-size: 24px;
}

.cform input[type=submit] {
	color: white;
    background-color: #BF8F69;
    background-image: linear-gradient(to right, #def369, rgba(255,255,255,0));
	transition: background-color 1s;
	border: none;
	font-weight: bold;
	margin-top: 40px;
	height: 60px;
	border-radius: 50px;
    box-shadow: 0px 0px 6px #262626;
}

.cform input[type=submit]:hover {
	color: white;
	background-color: #def369;
	background-image: linear-gradient(to right, #BF8F69, rgba(255,255,255,0));
	box-shadow: 0px 0px 10px #262626;
}

.titleform {
	font-size: 34px;
	font-family: "Oswald-Medium";
	font-weight: bold;
	margin-bottom: -10px;
}

.cpageform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.pincorrect {
	font-family: sans-serif;
	font-size: 16px;
}

/* TABLEAU */

#ctableau {
	width: 100%;
	height: 8%;
}

.cheures {
	width: 10%;
	height: 8%;
	background-color: #262626;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

.cevent {
	width: 18%;
	height: 8%;
	background-color: #BF8F69;
	text-align: center;
}

.cevent:hover {
	width: 18%;
	height: 8%;
	background-color: rgb(187, 107, 219);
	text-align: center;
}

.cnoevent {
	width: 18%;
	height: 8%;
	background-color: #def369;
	text-align: center;
}

.cnoevent:hover {
	width: 18%;
	height: 8%;
	background-color: white;
	text-align: center;
}

main table,  main tbody,  main thead {
	width: 100%;
	height: 100vh;
}

.cjours {
	height: 8vh;
	background-color: #262626;
	color: white;
	text-align: center;
	font-family: sans-serif;
}

.divnoevent {
	content: "";
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

.divevent {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aevent {
	color: #262626;
	font-family: sans-serif;
	text-decoration: none;
}

#ctitleevent {
	font-size: 34px;
	font-family: "Oswald-Medium";
	font-weight: bold;
	margin-bottom: -30px;
}

#cevent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

#cdescevent {
	width: 80%;
	padding-left: 2px;
	padding-right: 2px;
	overflow-wrap: break-word;
	text-align: center;
	font-size: 18px;
	font-family: sans-serif;
}

#cdatedebut {
	font-size: 18px;
	font-family: sans-serif;
}

#cdatefin {
	font-size: 18px;
	font-family: sans-serif;
}

#corganisateur {
	font-size: 18px;
	font-family: sans-serif;
	margin-bottom: 40px;
}

/* INDEX */

#logomaussane {
	width: 200px;
	height: 280px;
}

#cindex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: sans-serif;
	margin-bottom: 40px;
}

#cindex a {
	color: #BF8F69;
	font-weight: bold;
}

#cindex a:hover {
	color: #85653B;
	font-weight: bold;
}